@font-face {
    font-family: 'yekanBakh-regular';
    src: url('/styls/fonts/YekanBakh-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yekanBakh-bold';
    src: url('/styls/fonts/YekanBakh-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.yekanBakh-regular {
    font-family: 'yekanBakh-regular';
}

.yekanBakh-bold {
    font-family: 'yekanBakh-bold';
}